spring:
    datasource:
        url: ${DATASOURCE_URL}
        username: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

    mail:
        host: smtp.gmail.com
        port: 587
        username: ${MAIL_SENDER_USERNAME}
        password: ${MAIL_SENDER_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true

server:
    port: ${PORT:8080}

app:
    url: "${BASE_URL:http://localhost}:${PORT:8080}"
    auth:
        max-failed-attempts: 5
        lockout-minutes: 5

jwt:
    secret: ${JWT_SECRET}
    expires-after: ${JWT_EXPIRES_AFTER}
